<div class="container mt-5">
    <div *ngIf="loading" class="d-flex justify-content-center mt-5">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col-lg-6 offset-lg-3 text-center">
            <div class="card">
                <div class="card-body">
                    <h3 >Recuperar Contraseña</h3>
                    <h5>¿Olvidaste tu contraseña?</h5>
                    <p>Ingresa tu correo electrónico y te enviaremos un enlace para que puedas cambiar tu contraseña.</p>
                    <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
                        <div class="mb-3 text-start">
                            <h6>*Correo electrónico</h6>
                            <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Ingrese su correo">
                            <span class="text-danger" 
                            *ngIf="recuperarForm.get('usuario')?.hasError('required') && recuperarForm.get('usuario')?.touched">
                                El correo <strong>es requerido</strong>
                            </span>
                            <span class="text-danger" *ngIf="recuperarForm.get('usuario')?.hasError('email') && recuperarForm.get('usuario')?.touched">
                                Correo <strong>invalido</strong>
                            </span>
                        </div>
                        <button type="submit" [disabled]="recuperarForm.invalid" class="btn btn-primary btn-lg " >
                            <i class="fas fa-envelope"></i>
                            &nbsp;Enviar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
