<div class="container">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="text-dark">Jueces
            </h3>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Nuevo juez" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>

        </ng-template>
    </p-toolbar>
    <p-table [value]="juesesCollectiondata">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-jues>
            <tr>
                <td>{{jues.displayName}}</td>
                <td>
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(jues)"></button> -->
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editar(jues)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="visible" [style]="{width: '100vw'}" header="Detalles del mensaje" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

      

            <div class="field">
              <label for="name">Nombre:</label>
              <input type="text" pInputText name="displayName" class="" [(ngModel)]="juesModel.displayName" >
              <!-- <small class="p-error" *ngIf="submitted && !juesModel.name">nombre is required.</small> -->
            </div>
            <div class="field">
              <label for="address"> Address:</label>
              <input type="text" pInputText name="address" class="" [(ngModel)]="juesModel.address" >
              <!-- <small class="p-error" *ngIf="submitted && !juesModel.address">nombre is required.</small> -->
            </div>
            <div class="field mt-2">
              <label for="email">Email:</label>
              <input type="text" name="email" class="" pInputText required [(ngModel)]="juesModel.email"  />
              <!-- <small class="p-error" *ngIf="submitted && !juesModel.email">nombre is required.</small> -->
            </div>
            <div class="field mt-2">
              <label for="firstName">First Name:</label>
              <input type="text" name="firstName" class="" pInputText required [(ngModel)]="juesModel.firstName"  />
              <!-- <small class="p-error" *ngIf="submitted && !juesModel.firstName">nombre is required.</small> -->
            </div>
            <div class="field mt-2">
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" class="" pInputText required [(ngModel)]="juesModel.lastName"  />
                <!-- <small class="p-error" *ngIf="submitted && !juesModel.lastName">nombre is required.</small> -->
            </div>
            <div class="field mt-2">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" class="" pInputText required [(ngModel)]="juesModel.phone" />
                <!-- <small class="p-error" *ngIf="submitted && !juesModel.phone">nombre is required.</small> -->
            </div>
            <div class="field mt-2">
                <label for="photoURL">Photo Url:</label>
                <input type="text" name="photoURL" class="" pInputText required [(ngModel)]="juesModel.photoURL"  />
                <!-- <small class="p-error" *ngIf="submitted && !juesModel.photoURL">nombre is required.</small> -->
            </div>

            <!-- <div class="field">
              <label for="uid">UID:</label>
              <input type="text" name="uid" class="" pInputText required [(ngModel)]="juesModel.uid" formControlName="uid" />
              <small class="p-error" *ngIf="submitted && !juesModel.uid">Es obligtorio</small>
            </div> -->
            <label> Asignar categorias</label>
            <hr>
            <div class="field mt-2">
             
                <p-multiSelect [options]="categoriaCollectiondata" [(ngModel)]="selectedCategories" optionLabel="nombre" [virtualScroll]="true" ></p-multiSelect>

            </div>
          
        
            <div class="field mt-2">
             
                
               
            </div>
            
               
            <div class="field mt-2">
               
                <p-pickList [source]="  this.categoriaCollectiondata " [target]="juesModel.categorias" sourceHeader="Categorias Disponibles" targetHeader="Categorias asignadas" [dragdrop]="true"
                [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}" filterBy="nombre"
                sourceFilterPlaceholder="Buscar por nombre" targetFilterPlaceholder="Buscar por nombre">
                <ng-template let-product pTemplate="item">
                    <div class="product-item">
                        <div class="image-container">
                                <!-- <img src="assets/showcase/images/demo/product/{{product.image}}" [alt]="product.name" class="product-image" /> -->
                        </div>
                        <div class="product-list-detail">
                            <h5 class="mb-2">{{product.nombre}}</h5>
                            <!-- <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.category}}</span> -->
                        </div>
                        <!-- <div class="product-list-action">
                            <h6 class="mb-2">${{product.price}}</h6>
                            <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                        </div> -->
                    </div>
                </ng-template>
            </p-pickList>
               
            </div>
            

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="add()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
