button {
    background: #5b4bad;
    border-color: #5b4bad;
}

button:hover {
    background: #3c3174;
    border-color: #3c3174;
}

button:active,
button:visited,
button:focus {
    background: #3c3174;
    border-color: #3c3174;
}