<div class="container">
    <div class="row">
        <div class="w-full md:w-1/2 p-3">
            <div class="bg-white border-2 border-gray-300 rounded-lg shadow-lg p-4">
                <div class="card-body">
                    <h2 class="card-title">Transferencia</h2>
                    <p class="card-text text-justify">Recuerda que puedes pagar por PayPal tus Reservaciones, sin embargo también tenemos la opción de transferencia bancarias.</p>
                    <p class="card-text text-justify">
                        <br>RFC: AAE150514L41
                        <br>Numero de cuenta para depósitos: Banorte:  0284293400
                        <br>Clabe bancaria: 072650002842934008
                        <br>
                        <br>AR Asesores y Ediciones S.A de C.V
                        <br>Banco Banorte
                        <br>Numero de cuenta: 0284293400
                        <br>Clabe: 072650002842934008
                        <br>SWIFT: MT103
                        <br>
                        <br>PARA DEPOSITO EN DOLARES AMERICANOS A REED LATINO:
                        <br>ENVIO MEDIANTE CODIGO SWIFT DE TRANSFERENCIA INTERNACIONAL
                        <br>(SWIFT MT103)
                        <br>DATOS DEL ORDENANTE: CUENTA, NOMBRE Y D66IRECCION
                        <br>BANCO INTERMEDIARIO: BOFAUS3N
                        <br>BANK OF AMERICA N.A.
                        <br>NEW YORK, NY. USA
                        <br>BANCO DESTINO: MENOMXMTWLS
                        <br>BANCO MERCANTIL DEL NORTE, S.A.
                        <br>DATOS DEL BENEFICIARIO: AR ASESORES Y EDICIONES SA DE CV
                        <br>Cuenta: 02842934008
                    </p>
                </div>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="background-color:#4c3f91;">

                </div>
                <div class="card-body">
                    <h5 class="card-title"> Información de Contacto</h5>
                    <p class="card-text">En caso de problemas, sugerencia o preguntas. Favor de comunicarse ha alguno de los siguientes medios</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <a href="tel:+522221361005" target="_blank">+52 222 136 1005</a>
                <a href="mailto:isaac969@gmail.com?Subject=Reed%20Latino%20Contacto" target="_blank">isaac969@gmail.com</a>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
        <form class="add">
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre *</label>
                    <input type="text" class="form-control" placeholder="nombre" type="text" id="nombre" name="name" required [(ngModel)]="contactomodel.name" >
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo Electronico *</label>
                    <input type="email" class="form-control" placeholder="correo" type="text" id="correo" name="correo" required [(ngModel)]="contactomodel.correo">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Telefono *</label>
                    <input type="telefono" class="form-control" placeholder="telefono" id="telefono" name="telefono" required [(ngModel)]="contactomodel.telefono">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Mensaje *</label>
                    <textarea class="form-control"  rows="3" placeholder="mensaje" type="text" id="mensaje" name="mensaje" required [(ngModel)]="contactomodel.mensaje" ></textarea>
                    
                </div>

                <div class="mb-3">
                    <button type="button" class="btn btn-primary" style="background-color:#4c3f91;" type="submit"  (click)="add()">Enviar</button>
                </div>
            </div>
        </form>
    </div>


</div>