<div class="contenedor mt-4 mb-lg-5" #content>
    <h3 class="text-bold text-center">Nominaciones</h3>
    <!--button style="margin-left: 1em;" class="btn btn-primary btn-sm" type="button" (click)="getAllFiles()" >Descargar archivos</button-->
    <button class="btn btn-danger" (click)="getAllFiles()" [style]="{'margin-left': '.5em'}"><i class="fa-solid fa-trash"></i></button>
    <hr>

    <div class="row" *ngIf="loading">
        <div class="content">
            <img class="rotate" src="assets/svg/logo.svg" alt="" style="width: 50%; height: 50%;">
        </div>
    </div>

    <div class="row" *ngIf="!listNominaciones !loading">
        <p-card class="p-vacio">
            <div class="text-center">
                <h1>No hay ninguna nominaci&oacute;n registrada</h1>
            </div>
        </p-card>
    </div>

    <div class="row" *ngIf="listNominaciones && listNominaciones.length && listNominaciones.length > 0 && !loading">
        <!-- <div class="col-12 col-md-3" *ngFor="let nominacion of listNominaciones">
            <p-card [header]="nominacion.titulo" [subheader]="nominacion.categoria" [style]="{ 'width': '100%', 'margin-bottom': '2em'}" class="p-card-shadow">
                <ng-template pTemplate="header">
                    <div class="text-center">
                        <img class="img-mini" alt="Card" [src]="nominacion?.fileLogoEmpresa?.url" *ngIf="nominacion?.fileLogoEmpresa?.url">
                        <img class="img-mini" alt="Card" src="assets/svg/logo.svg" *ngIf="!nominacion?.fileLogoEmpresa?.url">
                    </div>
                </ng-template>
                <div *ngIf="nominacion.mostrarMas">
                    <label>Nominado: {{nominacion.nominado}}</label><br>
                    <label>Descripcion: {{nominacion.descripcion}}</label><br>
                    <label>Organizacion: {{nominacion.organizacion}}</label><br>
                    <label>Responsable: {{nominacion.responsable}}</label><br>
                    <label>Telefono: {{nominacion.telefono}}</label><br>
                    <label>Pais: {{nominacion.pais}}</label><br>
                    <label>Metodo de Pago: <i [class]="nominacion.pagarCon == 'paypal' ? 'fa-brands fa-cc-paypal fa-xl' : 'fa-solid fa-money-bill-transfer fa-xl'"></i></label><br>
                    <label *ngIf="nominacion.statuspago == 'Pago Realizado'">
                      Estatus del Pago:
                        <span class="badge bg-success" *ngIf="!nominacion.fileBaucher">{{nominacion.statuspago}}</span>
                        <p-splitButton *ngIf="nominacion.fileBaucher" [label]="nominacion.statuspago" (click)="setNominacionUpdate(nominacion)" icon="pi pi-check-circle" [model]="items" styleClass="p-button-success mb-2"></p-splitButton>
                    </label>
                    <label *ngIf="nominacion.statuspago == 'Pago Pendiente'">
                      Estatus del Pago:
                      <span class="badge bg-warning text-dark" *ngIf="!nominacion.fileBaucher">{{nominacion.statuspago}}</span>
                      <p-splitButton *ngIf="nominacion.fileBaucher" [label]="nominacion.statuspago" (click)="setNominacionUpdate(nominacion)" icon="pi pi-info-circle" [model]="items" styleClass="p-button-warning mb-2"></p-splitButton>
                    </label>
                    <label *ngIf="nominacion.statuspago == 'Pago Rechazado'">
                      Estatus del Pago:
                      <span class="badge bg-danger" *ngIf="!nominacion.fileBaucher">{{nominacion.statuspago}}</span>
                      <p-splitButton *ngIf="nominacion.fileBaucher" [label]="nominacion.statuspago" (click)="setNominacionUpdate(nominacion)" icon="pi pi-times-circle" [model]="items" styleClass="p-button-danger mb-2"></p-splitButton>
                    </label>
                    <label *ngIf="nominacion.statuspago == '' || nominacion.statuspago == 'Pago No Realizado'">
                      Estatus del Pago:
                      <span class="badge bg-danger" *ngIf="!nominacion.fileBaucher">Pago No Realizado</span>
                      <p-splitButton *ngIf="nominacion.fileBaucher" label="Pago No Realizado" (click)="setNominacionUpdate(nominacion)" icon="pi pi-stop-circle" [model]="items" styleClass="p-button-danger mb-2"></p-splitButton>
                    </label>
                    <div *ngIf="nominacion.fileBaucher">
                        <br><label><a target="blank" [href]="nominacion?.fileBaucher?.url | safeurl : ''">Documento de Pago</a></label> &nbsp;
                    </div>
                    <br><label><a target="blank" [href]="nominacion?.fileCartaIntencion?.url | safeurl : ''">Archivo Carta Intencion</a></label> &nbsp;
                    <label><a target="blank" [href]="nominacion?.fileCesionDerechos?.url | safeurl : ''">Archivo Cesion Derechos</a></label><br>
                    <div *ngFor="let item of nominacion.materialMultimedia; let i=index">
                        <label><a target="blank" [href]="item?.url | safeurl : ''">Material Multimedia {{i+1}}</a></label> &nbsp;
                    </div>
                    <label><i class="fa-brands fa-instagram"></i> &nbsp; <a target="blank" [href]="nominacion.rsInstagram | safeurl : ''">{{nominacion.rsInstagram}}</a></label>
                    <label><i class="fa-brands fa-twitter"></i> &nbsp; <a target="blank" [href]="nominacion.rsTwitter | safeurl : ''">{{nominacion.rsTwitter}}</a></label>
                    <label><i class="fa-brands fa-facebook"></i> &nbsp; <a target="blank" [href]="nominacion.rsFacebook | safeurl : ''">{{nominacion.rsFacebook}}</a></label>
                    <label><i class="fa-brands fa-youtube"></i> &nbsp; <a target="blank" [href]="nominacion.rsYoutube | safeurl : ''">{{nominacion.rsYoutube}}</a></label>
                </div>
                <ng-template pTemplate="footer">
                    <button class="btn btn-primary" (click)="vistaPrevia(nominacion)"><i [ngClass]="nominacion.mostrarMas ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i> {{ nominacion.mostrarMas ? 'Mostrar menos' : 'Vista Previa' }}</button>
                    <button class="btn btn-secondary" (click)="editarNominacion(nominacion)" [style]="{'margin-left': '.5em'}"><i class="fa-solid fa-pen"></i></button>
                    <button class="btn btn-danger" (click)="eliminarNominacion(nominacion)" [style]="{'margin-left': '.5em'}"><i class="fa-solid fa-trash"></i></button>
                </ng-template>
            </p-card>
        </div> -->

        <p-table  rowExpandMode="single" #tableNominaciones [value]="listNominaciones" [columns]="cols" selectionMode="single" [(selection)]="selectedNominacion" dataKey="id" [loading]="loading" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} nominaciones" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped" [globalFilterFields]="['titulo','nominado','categoria','fechaCreacion','fechaActualizacion','usuario.displayName','usuario.email']">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="tableNominaciones.clear()"></button> &nbsp; &nbsp;
                    <span class="p-input-icon-left ml-auto" style="width: 89%;">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="tableNominaciones.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." [style]="{ width: '100%' }"/>
                      </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>

            <th style="width: 3rem"></th>
                    <th>Acciones</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.filter">
                        <div class="flex justify-content-center align-items-center" style="width: 13em;">
                            {{col.header}}
                            <p-sortIcon [field]="col.filter"></p-sortIcon>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of columns">
                        <div class="flex justify-content-center align-items-center" style="width: 16em;">
                            <p-columnFilter type="text" [field]="col.filter" hideOnClear="true" [style]="{'width':'100%'}"></p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"    let-rowData let-columns="columns" let-expanded="expanded">
                <tr [pSelectableRow]="rowData">
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>
                        <!-- <i data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" class="fa-solid fa-pen" (click)="editarNominacion(rowData)"></i>
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar" class="fa-solid fa-trash" (click)="eliminarNominacion(rowData)" style="margin-left: 1em;"></i> -->
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarNominacion(rowData)"></button>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarNominacion(rowData)"></button>
                    </td>
                    <td *ngFor="let col of columns">
                        <div class="text-overflow" *ngIf="col.fiel != 'displayName' && col.field != 'email'">
                            {{ rowData[col.field] }}
                        </div>
                        <div class="text-overflow" *ngIf="col.fiel == 'displayName' || col.field == 'email'">
                            {{ rowData.usuario ? rowData.usuario[col.field] : 'Desconocido' }}
                        </div>
                    </td>
                </tr>
            </ng-template>
            <!-- CONTENIDO AL EXPANDIR EL RENGLON-->
            <ng-template pTemplate="rowexpansion" let-rowData>
                <tr>
                    <td colspan="8">
                        <div class="flex align-items-center">
                            <h5>Material Multimedia</h5>
                            <a *ngFor="let item of rowData.materialMultimedia"  [href]="item.url" downloadFile target="blank">
                              
                            <p-chip  [label]="fileNameFromUrl(item.url)" [style]="{ 'margin-right': '6px', 'margin-bottom': '6px'}"  icon="pi pi-download"></p-chip>
                            <!--p-chip  [label]="fileNameFromUrl(item.url)" [style]="{ 'margin-right': '6px', 'margin-bottom': '6px'}" (click)="downloadFile(item.url,fileNameFromUrl(item.url))" icon="pi pi-download"></p-chip-->
                        </a>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>

</div>

<p-sidebar [(visible)]="visibleSide" position="right" [appendTo]="body" [baseZIndex]="2" [style]="{ 'width': '60%'}">
    <app-add-nominacion-admin *ngIf="visibleSide" [accion]="accion" [nominacionEditar]="nominacionEditar" (fetchNominaciones)="fetchNominacion()"></app-add-nominacion-admin>

</p-sidebar>

  