<!-- <h1>Convocatorias</h1>

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Agregar Nueva</h1>
            <form class="add" [formGroup]="convocatoriaForm" (ngSubmit)="add()">
                <label for="name">Titulo</label>
                <input type="text" name="titulo" class="text-white bg-dark" [(ngModel)]="convocatoria.titulo" formControlName="titulo" [ngClass]="submitted && convocatoriaForm.controls['titulo'].errors ? 'is-invalid' : !submitted && convocatoriaForm.controls['titulo'].valid ? 'is-valid' : submitted && convocatoriaForm.controls['titulo'].valid ? 'is-valid' : null"> -->
<!-- <div *ngIf="submitted && convocatoriaForm.controls['titulo'].errors" class="text-danger">
        <div *ngIf="convocatoriaForm.controls['titulo'].errors.required">El titulo es requerido</div>
    </div> -->

<!-- <label for="age">Fecha Inicio</label>
                <input type="text" name="fechaInicio" class="text-white bg-dark" required [(ngModel)]="convocatoria.fechaInicio" formControlName="fechaInicio" required/>

                <label for="age">Fecha Fin</label>
                <input type="text" name="fechaFin" class="text-white bg-dark" required [(ngModel)]="convocatoria.fechaFin" formControlName="fechaFin" required/>


                <button type="button" class="btn btn-primary" type="submit">Agregar</button>


            </form>
            <button class="btn btn-success" (click)="exporExcel()"><i class="bi bi-cloud-arrow-up-fill" aria-hidden="true"></i> Exportar Excel</button>
            <br>
            <br>

            <h1>Lista de convocatorias</h1>
            <div class="show">
                <ng-container *ngFor="let convocatoria of convocatoriaCollectiondata">
                    <div>
                        <label for="titulo-show">Titulo</label>
                        <input type="text" class="text-white bg-dark" name="titulo-show" [value]="convocatoria.titulo" required #titulo>

                        <label for="age-show">Fecha inicio</label>
                        <input type="text" class="text-white bg-dark" name="fechaInicio-show" [value]="convocatoria.fechaInicio" required #fechaInicio>

                        <label for="age-show">Fecha Fin</label>
                        <input type="text" class="text-white bg-dark" name="fechaFin-show" [value]="convocatoria.fechaFin" required #fechaFin>

                        <button type="button" class="btn btn-danger" (click)="delete(convocatoria.id)">Eliminar</button>
                        <button type="button" class="btn btn-warning" (click)="update(convocatoria.id, titulo,fechaInicio,fechaFin)">Actualizar</button>
                    </div>
                    <br>
                </ng-container>
            </div>
        </div>

    </div>
</div> -->

<div class="container">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="text-dark">Convocatorias</h3>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple class="p-button-info mr-2" (click)="Excel()" label="Exportar Excel" icon="pi pi-upload"> </button>
            <button pButton pRipple label="Nueva Convocatoria" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <div class="card">
    <p-table responsiveLayout="scroll" [value]="convocatoriaCollectiondata" [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="titulo">
                    Titulo
                    <p-sortIcon field="titulo"></p-sortIcon>
                </th>
                <th pSortableColumn="fechaInicio">
                    Fecha de inicio
                    <p-sortIcon field="fechaInicio"></p-sortIcon>
                </th>
                <th pSortableColumn="fechaFin">
                    Fecha de finalizacion
                    <p-sortIcon field="fechaFin"></p-sortIcon>
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-convocatoria>
            <tr>
                <td>
                    <p>{{convocatoria.titulo}}</p>
                </td>

                <td>
                    <p>{{convocatoria.fechaInicio}}</p>
                </td>
                <td>
                    <p>{{convocatoria.fechaFin}}</p>
                </td>


                <td>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(convocatoria)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editar(convocatoria)" (click)="edit"></button>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total de Convocatorias {{convocatoriaCollectiondata ? convocatoriaCollectiondata.length : 0 }}.
            </div>
        </ng-template>
    </p-table>
</div>
</div>

<!-- Nueva Convocatoria -->
<p-dialog [(visible)]="visible" [style]="{width: '450px'}" header="Detalles del mensaje" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="convocatoriaForm">

            <div class="field">
                <label for="titulo">Titulo:</label>
                <input type="text" pInputText name="titulo" class="" [(ngModel)]="convocatoriaModel.titulo" formControlName="titulo" [ngClass]="submitted && convocatoriaForm.controls['titulo'].errors ? 'is-invalid' : !submitted && convocatoriaForm.controls['titulo'].valid ? 'is-valid' : submitted && convocatoriaForm.controls['titulo'].valid ? 'is-valid' : null">
                <small class="p-error" *ngIf="submitted && !convocatoriaModel.titulo">nombre is required.</small>

            </div>
            <div class="field">
                <label for="fechaInicio">Fecha de Inicio:</label>
                <input type="date" name="fechaInicio" class="" pInputText [(ngModel)]="convocatoriaModel.fechaInicio" formControlName="fechaInicio" required/>
                <small class="p-error" *ngIf="submitted && !convocatoriaModel.fechaInicio">nombre is required.</small>

            </div>
            <div class="field">
                <label for="fechaFin">Fecha Fin:</label>
                <input type="date" name="fechaFin" class="" pInputText [(ngModel)]="convocatoriaModel.fechaFin" formControlName="fechaFin" required/>
                <small class="p-error" *ngIf="submitted && !convocatoriaModel.fechaFin">nombre is required.</small>
            </div>


        </form>



    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="add()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>