<div class="contenedor mt-4 mb-lg-5">
    <h3 class="text-bold text-center">Mis Reservaciones</h3>
    <!-- <button type="button" class="btn btn-primary">Nueva Nominación</button> -->
    <hr>

    <div class="row" *ngIf="loading">
        <div class="content">
            <img class="rotate" src="assets/svg/logo.svg" alt="" style="width: 50%; height: 50%;">
        </div>
    </div>

    <div class="row" *ngIf="!listBoletos !loading">
        <!-- <p-card class="p-vacio">
            <div class="text-center">
                <h1>No tienes ninguna nominaci&oacute;n</h1>
                <h4>Crea una nueva nominaci&oacute;n con el boton que se encuentra en la parte superior izquierda de la pantalla</h4>
            </div>
        </p-card> -->
    </div>

    <div class="row" *ngIf="listBoletos && listBoletos.length && listBoletos.length > 0 && !loading">
        <div class="col-12 col-md-3" *ngFor="let lugar of listBoletos">
            <p-card [header]="lugar.titulo" [subheader]="lugar.categoria" [style]="{ 'width': '100%', 'margin-bottom': '2em'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <div class="text-center">
                        <div class="container">
                            <div class="mb-3">
                                <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="dataToString" [colorDark]="'#94969e'" [colorLight]="'#000000'" [imageSrc]="'https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2FEscudo-RL.png?alt=media&token=58ee9622-0c5e-4d17-90f1-39a9447a7472'"
                                    [imageHeight]="170" [imageWidth]="170" [title]="'A custom title attributesss'" [width]="256" [errorCorrectionLevel]="'M'">Datos</qrcode>
                                <!-- <a [href]="qrCodeDownloadLink" download="qrcode">Descargue su QR de Acceso !!</a> -->
                                <button class="btn btn-primary" (click)="downloadPdfReservacion(lugar)">Descargue su PDF de Acceso !!</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <p>Reed Latino 2022</p>
                <div>
                    <label>ID Pago Paypal: {{lugar.idpagopaypal}}</label><br>
                    <br>
                    <label>Nombre del Comprador: {{lugar.Nombrecomprador}}</label><br>
                    <label>Total de Lugares adquiridos: {{lugar.LugaresComprados}}</label><br>
                    <label>Codigo: {{lugar.codigotiket}}</label><br>
                    <label>Costo total: ${{lugar.montopago}} USD</label><br>


                    <label *ngIf="lugar.statuspago == 'Pago Realizado'">Estatus del Pago: <span class="badge bg-success" >{{lugar.statuspago}}</span></label>
                    <label *ngIf="lugar.statuspago == 'Pago Pendiente'">Estatus del Pago: <span class="badge bg-warning text-dark" >{{lugar.statuspago}}</span></label>
                    <label *ngIf="lugar.statuspago == 'Pago Rechazado'">Estatus del Pago: <span class="badge bg-danger" >{{lugar.statuspago}}</span></label>
                    <label *ngIf="lugar.statuspago == '' || lugar.statuspago == 'Pago No Realizado'">Estatus del Pago: <span class="badge bg-danger" >Pago No Realizado</span></label>
                    <label>Fecha de Compra: {{lugar.fechaCreacion}}</label><br>
                    <!-- <label>Metodo de Pago: <i [class]="lugar.pagarCon == 'paypal' ? 'fa-brands fa-cc-paypal fa-xl' : 'fa-solid fa-money-bill-transfer fa-xl'"></i></label><br>
                    <label *ngIf="lugar.statuspago == 'Pago Realizado'">Estatus del Pago: <span class="badge bg-success" >{{lugar.statuspago}}</span></label>
                    <label *ngIf="lugar.statuspago == 'Pago Pendiente'">Estatus del Pago: <span class="badge bg-warning text-dark" >{{lugar.statuspago}}</span></label>
                    <label *ngIf="lugar.statuspago == 'Pago Rechazado'">Estatus del Pago: <span class="badge bg-danger" >{{lugar.statuspago}}</span></label>
                    <label *ngIf="lugar.statuspago == '' || lugar.statuspago == 'Pago No Realizado'">Estatus del Pago: <span class="badge bg-danger" >Pago No Realizado</span></label>
                    <div *ngIf="lugar.fileBaucher">
                        <br><label><a target="blank" [href]="lugar?.fileBaucher?.url | safeurl : ''">Documento de Pago</a></label> &nbsp;
                    </div>
                    <br><label><a target="blank" [href]="lugar?.fileCartaIntencion?.url | safeurl : ''">Archivo Carta Intencion</a></label> &nbsp;
                    <label><a target="blank" [href]="lugar?.fileCesionDerechos?.url | safeurl : ''">Archivo Cesion Derechos</a></label><br>
                    <div *ngFor="let item of lugar.materialMultimedia; let i=index">
                        <label><a target="blank" [href]="item?.url | safeurl : ''">Material Multimedia {{i+1}}</a></label> &nbsp;
                    </div> -->
                    <!-- <label><i class="fa-brands fa-instagram"></i> &nbsp; <a target="blank" [href]="lugar.rsInstagram | safeurl : ''">{{lugar.rsInstagram}}</a></label>
                    <label><i class="fa-brands fa-twitter"></i> &nbsp; <a target="blank" [href]="lugar.rsTwitter | safeurl : ''">{{lugar.rsTwitter}}</a></label>
                    <label><i class="fa-brands fa-facebook"></i> &nbsp; <a target="blank" [href]="lugar.rsFacebook | safeurl : ''">{{lugar.rsFacebook}}</a></label>
                    <label><i class="fa-brands fa-youtube"></i> &nbsp; <a target="blank" [href]="lugar.rsYoutube | safeurl : ''">{{lugar.rsYoutube}}</a></label> -->
                </div>
                <!--<ng-template pTemplate="footer">
                    <button class="btn btn-primary" (click)="vistaPrevia(lugar)"><i [ngClass]="lugar.mostrarMas ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i> {{ lugar.mostrarMas ? 'Mostrar menos' : 'Vista Previa' }}</button>
                    <button class="btn btn-secondary" (click)="editarlugar(lugar)" [style]="{'margin-left': '.5em'}"><i class="fa-solid fa-pen"></i></button>
                    <button class="btn btn-danger" (click)="eliminarlugar(lugar)" [style]="{'margin-left': '.5em'}"><i class="fa-solid fa-trash"></i></button>
                </ng-template>--->
            </p-card>
        </div>
    </div>

</div>

<!-- <p-sidebar [(visible)]="visibleSide" position="right" [blockScroll]="true" [baseZIndex]="2" [style]="{ 'width': '60%'}">
    <app-add-lugar *ngIf="visibleSide" [accion]="accion" [lugarEditar]="lugarEditar" (fetchlugares)="fetchlugar()"></app-add-lugar>
</p-sidebar> -->

<!-- PDF REED LATINO  -->
<div id="reservacionPDF" #reservacionPDF *ngIf="showTemplatePDF">
    <div class="row">
        <div class="col-12">
            <img src="assets/pdf/header_pdf.PNG" alt="" style="width: 590px; margin-left: 5px;">
        </div>
        <div class="col-12" style="margin-top: 10px;">
            <div style="display: flex;">
                <div style="width: 295px;">
                    <img [src]="qrCodeDownloadLink" class="qr">
                    <img src="assets/pdf/baner_left.PNG" class="banner" alt="">
                    <a class="ubicacion" href="https://bit.ly/3KsUcLv" target="_blank">https://bit.ly/3KsUcLv</a>
                </div>
                <div style="width: 295px;">
                    <img [src]="qrCodeDownloadLink" class="qr-rigth">
                    <img src="assets/pdf/baner_rigth.PNG" class="banner-r" alt="">
                    <a class="ubicacion-r" href="https://bit.ly/3PKjSUy" target="_blank">https://bit.ly/3PKjSUy</a>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-top: 10px;">
            <img src="assets/pdf/footer_pdf.PNG" class="footer" alt="">
        </div>
    </div>
</div>
<!-- FIN PDF  -->
