<p-toast></p-toast>

<div class="card">
    <app-tool-bar></app-tool-bar>

    <p-table #dt [value]="ContactoModels" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','country.nombre','representative.nombre','status']" responsiveLayout="scroll" [(selection)]="selectedContactoModels" [rowHover]="true" dataKey="id" currentPageReportTemplate="Mostrando   {first}hasta  {last} de {totalRecords}  Empresas"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Empresas</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              
                <th pSortableColumn="nombre">Area
                    <p-sortIcon field="nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="correo">Descripcion
                    <p-sortIcon field="correo"></p-sortIcon>
                </th>
                <th pSortableColumn="telefono">Logo
                    <p-sortIcon field="telefono"></p-sortIcon>
                </th>
                <th pSortableColumn="mensaje">Nombre
                    <p-sortIcon field="mensaje"></p-sortIcon>
                </th>
               
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ContactoModel>
            <tr>
              
                <td>{{ContactoModel.area}}</td>
                <td>{{ContactoModel.descripcion}}</td>
                <td>    <img src="{{ContactoModel.logo}}" width="35" height="29"></td>
                <td>{{ContactoModel.nombre}}</td>
                <td> </td>
                <td><span [class]="'ContactoModel-badge status-' + (ContactoModel.inventoryStatus ? ContactoModel.inventoryStatus.toLowerCase() : '')">{{ContactoModel.inventoryStatus}}</span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editContactoModel(ContactoModel)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteContactoModel(ContactoModel)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total son {{ContactoModels ? ContactoModels.length : 0 }} Empresas.
            </div>
        </ng-template>
    </p-table>
</div>

<!--<p-dialog [(visible)]="ContactoModelDialog" [style]="{width: '750px'}" header="Nuevo/Actualiza" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-card [style]="{width: '100%', margin: 'auto auto'}" styleClass="p-card-shadow">
            <div class="logo-container">
                <img alt="logo" src="assets/img/logo_orion.png" class="logo">
            </div>
            <p-card header="Añadir empresa" [style]="{width: '50%', margin: 'auto auto'}" styleClass="p-card-shadow">
                <div class="col-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-building"></i></span>
                        <input type="text" pInputText placeholder="Nombre de la empresa">         
                    </div>
                </div>
                <h6 class="leftMargin">Logo de la empresa</h6>
                <p-fileUpload class="leftMargin" name="myfile[]" mode="basic" [customUpload]="true" (uploadHandler)="myUploader($event)"></p-fileUpload>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-align-left"></i></span>
                        <input type="text" pInputText placeholder="Descripción">         
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                        <input type="text" pInputText placeholder="Área" aria-describedby="area-help" class="ng-invalid ng-dirty">
                    </div>
                    <small id="area-help" class="p-error block">Username is not available.</small>
                </div>
                <p-messages></p-messages>
                
                <ng-template pTemplate="footer">
                    <p-progressBar mode="indeterminate"  [style]="{'height': '4px', 'margin-bottom': '10px'}" [hidden]="hiddeProgress"></p-progressBar>
                    <p-button label="Save" icon="pi pi-check" ></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                        [style]="{'margin-left': '.5em'}">
                    </p-button>
                </ng-template>
            </p-card>
        </p-card>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContactoModel()"></button>
    </ng-template>
</p-dialog>-->

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>