<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>

        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="correo/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="ContactoModels" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','country.nombre','representative.nombre','status']" responsiveLayout="scroll" [(selection)]="selectedContactoModels" [rowHover]="true" dataKey="id" currentPageReportTemplate="Mostrando   {first}hasta  {last} de {totalRecords} mensajes"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Mensajes de Contacto</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              
                <th pSortableColumn="nombre">nombre
                    <p-sortIcon field="nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="correo">correo
                    <p-sortIcon field="correo"></p-sortIcon>
                </th>
                <th pSortableColumn="telefono">telefono
                    <p-sortIcon field="telefono"></p-sortIcon>
                </th>
                <th pSortableColumn="mensaje">mensaje
                    <p-sortIcon field="mensaje"></p-sortIcon>
                </th>
               
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ContactoModel>
            <tr>
              
                <td>{{ContactoModel.nombre}}</td>
                <td>{{ContactoModel.correo}}</td>
                <td>{{ContactoModel.telefono}}</td>
                <td>{{ContactoModel.mensaje}}</td>
                <td> </td>
                <td><span [class]="'ContactoModel-badge status-' + (ContactoModel.inventoryStatus ? ContactoModel.inventoryStatus.toLowerCase() : '')">{{ContactoModel.inventoryStatus}}</span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editContactoModel(ContactoModel)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteContactoModel(ContactoModel)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total son {{ContactoModels ? ContactoModels.length : 0 }} Mensajes.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="ContactoModelDialog" [style]="{width: '450px'}" header="Detalles del mensaje" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <label for="nombre">contacto</label>
            <input type="text" pInputText id="correo" [(ngModel)]="ContactoModel.correo" required autofocus />
            <small class="p-error" *ngIf="submitted && !ContactoModel.correo">correo is required.</small>
        </div>
        <div class="field">
            <label for="nombre">Nombre</label>
            <input type="text" pInputText id="nombre" [(ngModel)]="ContactoModel.nombre" required autofocus />
            <small class="p-error" *ngIf="submitted && !ContactoModel.nombre">nombre is required.</small>
        </div>
        <div class="field">
            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" pInputTextarea [(ngModel)]="ContactoModel.mensaje" required rows="3" cols="20"></textarea>
        </div>



    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContactoModel()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>