<div class="flex justify-center mb-5">
  <h1 class="primary-title">Nominaciones</h1>
</div>
<!-- <p class="mb-3 text-sm font-medium text-gray-900">Buscar</p> -->
<div class="row g-3">
  <div class="col-sm-7">

    <label for="categoria" class="mb-3 text-sm font-medium text-gray-900">Buscar</label>
    <input type="text" class="form-control" placeholder="Buscar nominacion" aria-label="Buscar nominacion">
  </div>
  <div class="col-sm">
    <label for="categoria" class="form-label">Convocatoria</label>
    <p-dropdown [options]="convocatorias" placeholder="Selecciona una Convocatoria" optionLabel="titulo"
      [style]="{'width':'100%'}"></p-dropdown>
    <!-- <input type="text" class="form-control" placeholder="State" aria-label="State"> -->
  </div>
  <div class="col-sm">
    <label for="categoria" class="form-label">Categor&iacute;a</label>
    <p-dropdown [options]="categorias" placeholder="Selecciona una categor&iacute;a" optionLabel="nombre"
      [style]="{'width':'100%'}"></p-dropdown>
  </div>
</div>
<p class="mb-3 mr-1 text-sm font-bold text-gray-900">Filtrado por:</p>


<div class="container">
  <div class="row justify-content-md-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">categoria</th>
          <th scope="col">Convocatoria</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let nominacion of nominaciones">
        <th scope="row">{{ nominacion['categoria'] }}</th>
        <td colspan="2" class="table-active">20222</td>
        <td colspan="2" class="table-active">{{ nominacion['nominado'] }}</td>
      </tr>
    </tbody>
  </table>
  </div>

</div> 


