button {
    background: #3d98ec;
    border-color: #3d98ec;
}

button:hover {
    background: #3d98ec;
    border-color: #3d98ec;
}

button:active,
button:visited,
button:focus {
    background: #3d98ec;
    border-color: #3d98ec;
}