
<div class="contenedor mt-4 mb-lg-5" #content>
    <h3 class="text-bold text-center">Evaluaciòn de Nominaciones</h3>
 
        <div class="row" *ngIf="loading">
            <div class="content">
                <img class="rotate" src="assets/svg/logo.svg" alt="" style="width: 50%; height: 50%;">
            </div>
        </div>
    
        <div class="row" *ngIf="!listNominaciones !loading">
            <p-card class="p-vacio">
                <div class="text-center">
                    <h1>No hay ninguna nominaci&oacute;n con categorias registradas para este usuario</h1>
                </div>
            </p-card>
        </div>
    
        <div class="row" *ngIf="listNominaciones && listNominaciones.length && listNominaciones.length > 0 && !loading">
           
            <p-table  rowExpandMode="single" #tableNominaciones [value]="listNominaciones" [columns]="cols" selectionMode="single" [(selection)]="selectedNominacion" dataKey="id" [loading]="loading" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} nominaciones" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped" [globalFilterFields]="['titulo','nominado','categoria','fechaCreacion','fechaActualizacion','usuario.displayName','usuario.email']">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="tableNominaciones.clear()"></button> &nbsp; &nbsp;
                        <span class="p-input-icon-left ml-auto" style="width: 89%;">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="tableNominaciones.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." [style]="{ width: '100%' }"/>
                          </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
    
                <th style="width: 3rem"></th>
                        <th>Acciones</th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.filter">
                            <div class="flex justify-content-center align-items-center" style="width: 13em;">
                                {{col.header}}
                                <p-sortIcon [field]="col.filter"></p-sortIcon>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th *ngFor="let col of columns">
                            <div class="flex justify-content-center align-items-center" style="width: 16em;">
                                <p-columnFilter type="text" [field]="col.filter" hideOnClear="true" [style]="{'width':'100%'}"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"    let-rowData let-columns="columns" let-expanded="expanded">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success " (click)="editarNominacion(rowData)"></button>
                        </td>
                        <td *ngFor="let col of columns">
                            <div class="text-overflow" *ngIf="col.fiel != 'displayName' && col.field != 'email'">
                                {{ rowData[col.field] }}
                            </div>
                            <!-- <div class="text-overflow" *ngIf="col.fiel == 'displayName' || col.field == 'email'">
                                {{ rowData.usuario ? rowData.usuario[col.field] : 'Desconocido' }}
                            </div> -->
                        </td>
                    </tr>
                </ng-template>
                <!-- CONTENIDO AL EXPANDIR EL RENGLON-->
                <ng-template pTemplate="rowexpansion" let-rowData>
                    <tr>
                        <td colspan="8">
                            <div class="flex align-items-center">
                                <h5>Material Multimedia</h5>
                                <a *ngFor="let item of rowData.materialMultimedia"  [href]="item.url" downloadFile target="blank">
                                  
                                <p-chip  [label]="fileNameFromUrl(item.url)" [style]="{ 'margin-right': '6px', 'margin-bottom': '6px'}"  icon="pi pi-download"></p-chip>
                            </a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
    
        </div>
    
    </div>
  


    <p-sidebar [(visible)]="visibleSide" position="right" [appendTo]="body" [baseZIndex]="2" [style]="{ 'width': '60%'}">

         
        <p-card header="Informaci&oacute;n de la pieza">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">T&iacute;tulo de la pieza*</label>
                        <label >{{this.nominacionEditar.titulo}}</label>
                     
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="mb-3">
                        <label for="nominado" class="form-label">Nombre del nominado*</label>
                        <label >{{this.nominacionEditar.nominado}}</label>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categor&iacute;a*</label>
                        <label >{{this.nominacionEditar.categoria}}</label>
                       
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripci&oacute;n*</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="4" disabled>{{this.nominacionEditar.descripcion}}</textarea>
                       
                    </div>
                </div>
            </div>
            <p-card >
                <tr>
                    <td colspan="8">
                        <div class="flex align-items-center">
                            <h5>Material Multimedia</h5>
                            <a *ngFor="let item of this.nominacionEditar.materialMultimedia"  [href]="item.url" downloadFile target="blank">
                              
                            <p-chip  [label]="fileNameFromUrl(item.url)" [style]="{ 'margin-right': '6px', 'margin-bottom': '6px'}"  icon="pi pi-download"></p-chip>
                        </a>
                        </div>
                    </td>
                </tr>
            </p-card>


            <div class="row">
                <div class="col-sm">
           <label>Seleccionar el porcentaje de Evaluacion del siguiente selector y dar click en Guardar Evaluacion:</label>
                </div>
                <div class="col-sm">
                  
                
                  <h5>Evaluar</h5>
                  <p-dropdown  placeholder="Seleccionar Puntaje" [options]="evaluar" [(ngModel)]="selectedEvaluacion" optionLabel="name"   [showClear]="true"></p-dropdown>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
                <div class="col-sm">
                    <br>
                    <button pButton type="button" class="p-button-success p-button-rounded" (click)="guardarEvaluacion(this.nominacionEditar)">Guardar Evaluacion</button>
                    <br>
                </div>
              </div>
        </p-card>
   
        <!-- <app-add-nominacion-admin *ngIf="visibleSide" [accion]="accion" [nominacionEditar]="nominacionEditar" (fetchNominaciones)="fetchNominacion()"></app-add-nominacion-admin> -->
    </p-sidebar>

    
