/* You can add global styles to this file, and also import other style files */

.contenedor {
    margin-left: 2%;
    margin-right: 2%;
}

:root {
    --color-white: #edeffd;
    --color-dark: #202528;
}