/* You can add global styles to this file, and also import other style files */

.contenedor {
    margin-left: 2%;
    margin-right: 2%;
}

:root {
    --color-white: #edeffd;
    --color-dark: #202528;
}

body {
    padding: 2em;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  }