<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
            (click)="openNew()"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="correo/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar"
            class="mr-2 inline-block"></p-fileUpload>
        <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
</p-toolbar>