
<!-- Aqui se agrega el spiner antes de cargar los lugares -->
<div *ngIf="StatusCargaLugares==false">

    <p-card style="background-color: white;" header="Selecciona un lugar" align="center"
        subheader="Selecciona tu lugar en la cena de Premiación Reed Latino 2022" [style]="styleOBJ">

        <div class="card-body">
            <h5>Cargando Informacion...Solo spodra continuar su compra si termino de cargar la informacion</h5>
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
                fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>

        </div>

    </p-card>

</div>
<p-card style="background-color: white;" header="Selecciona un lugar" align="center"
    subheader="Selecciona tu lugar en la cena de Premiación Reed Latino 2022" [style]="styleOBJ">

    <div class="card-body">

        <div class="row">

            <div>
                <div class="content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/baners%2Fcolores%20status%20mesas.jpg?alt=media&token=658281c4-5edc-4279-96c8-d82f3f097b53"
                        alt="" style="width: 10%; height: 10%;">
                </div>
                <p style="font-size: 1em; font-weight: bold;">{{txt3}}</p>
                <p style="font-size: 1em; font-weight: bold;">{{txt4}}</p>
                <p style="font-size: 1em; font-weight: bold;">{{txt5}}</p>
                <p style="font-size: 1em; font-weight: bold;">{{txt6}}</p>
            </div>


            <div class="container-fluid" id="zonasOcultar">
                <div class="container">
                    <div class="col-15">
                        <div class="col col-md-12">
                            <div class="zonaGeneral">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="grid5">
                                    <div class="icon">
                                        X
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'X'+name" class="unit"
                                                    [pTooltip]="'Asiento: X'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('X'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        W
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'W'+name" class="unit"
                                                    [pTooltip]="'Asiento: W'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('W'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        V
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'V'+name" class="unit"
                                                    [pTooltip]="'Asiento: V'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('V'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        U
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'U'+name" class="unit"
                                                    (click)="selectedAsiento('U'+name)"
                                                    [pTooltip]="'Asiento: U'+name+'\n Precio: 575 USD' ">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        T
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'T'+name" class="unit"
                                                    (click)="selectedAsiento('T'+name)"
                                                    [pTooltip]="'Asiento: T'+name+'\n Precio: 575 USD' ">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="grid5">
                                    <div class="icon">
                                        S
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'S'+name" class="unit"
                                                    (click)="selectedAsiento('S'+name)"
                                                    [pTooltip]="'Asiento: S'+name+'\n Precio: 575 USD' ">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        R
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'R'+name" class="unit"
                                                    [pTooltip]="'Asiento: R'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('R'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        Q
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'Q'+name" class="unit"
                                                    [pTooltip]="'Asiento: Q'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('Q'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        P
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'P'+name" class="unit"
                                                    (click)="selectedAsiento('P'+name)"
                                                    [pTooltip]="'Asiento: P'+name+'\n Precio: 575 USD' ">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        O
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'O'+name" class="unit"
                                                    (click)="selectedAsiento('O'+name)"
                                                    [pTooltip]="'Asiento: O'+name+'\n Precio: 575 USD' ">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="grid5">
                                    <div class="icon">
                                        N
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'N'+name" class="unit"
                                                    [pTooltip]="'Asiento: N'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('N'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        M
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'M'+name" class="unit"
                                                    [pTooltip]="'Asiento: M'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('M'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        L
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'L'+name" class="unit"
                                                    [pTooltip]="'Asiento: L'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('L'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        K
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'K'+name" class="unit"
                                                    [pTooltip]="'Asiento: K'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('K'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        J
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'J'+name" class="unit"
                                                    [pTooltip]="'Asiento: J'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('J'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <br>
                                <br>
                                <br>

                                <div>
                                    <p style="font-size: 2em; font-weight: bold;">{{txt1}}</p>
                                </div>

                                <br>
                                <br>
                                <br>
                                <br>
                                <br>

                                <div class="grid5">
                                    <!-- <div class="icon">
                                        H
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'H'+name" class="unit" [pTooltip]="'Asiento: H'+name+'\n Precio: 575 USD'" (click)="comprarMesa('H'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div> -->
                                    <div class="icon">
                                        I
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'I'+name" class="unit"
                                                    [pTooltip]="'Asiento: I'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('I'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon" #MyRef [id]="'H'" (click)="comprarMesa('H')"
                                        [pTooltip]="'Mesa: H'+'\n Precio: 5750 USD'">
                                        H
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a class="unitVIP" #MyRef [id]="'H'+name">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        G
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'G'+name" class="unit"
                                                    [pTooltip]="'Asiento: G'+name+'\n Precio: 575 USD'"
                                                    (click)="comprarMesa('G')">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <div class="icon">
                                        F
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'F'+name" class="unit" [pTooltip]="'Asiento: F'+name+'\n Precio: 575 USD'" (click)="comprarMesa('F'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div> -->

                                    <div class="icon" #MyRef [id]="'F'" (click)="comprarMesa('F')"
                                        [pTooltip]="'Mesa: F'+'\n Precio: 5750 USD'">
                                        F
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a class="unitVIP" #MyRef [id]="'F'+name">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon">
                                        E
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="'E'+name" class="unit"
                                                    [pTooltip]="'Asiento: E'+name+'\n Precio: 575 USD'"
                                                    (click)="selectedAsiento('E'+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <br>
                                <br>
                                 <br>
                            </div>



                        </div>

                        <div class="zonaVIP">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="grid5">
                                <div class="icon" #MyRef [id]="'DT'" (click)="comprarMesa('DT') "
                                    [pTooltip]="'Mesa: DT'+'\n Precio: 5750 USD'">
                                    D2
                                    <ul class="menu">
                                        <li class="spread" *ngFor="let name of mesas">
                                            <a #MyRef [id]="'DT'+name" class="unit">{{name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="icon" #MyRef [id]="'D'" (click)="comprarMesa('D') "
                                    [pTooltip]="'Mesa: D'+'\n Precio: 5750 USD'">
                                    D
                                    <ul class="menu">
                                        <li class="spread" *ngFor="let name of mesas">
                                            <a #MyRef [id]="'D'+name" class="unit">{{name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="icon" #MyRef [id]="'C'" (click)="comprarMesa('C')"
                                    [pTooltip]="'Mesa: C'+'\n Precio: 5750 USD'">
                                    C
                                    <ul class="menu">
                                        <li class="spread" *ngFor="let name of mesas">
                                            <a class="unit" #MyRef [id]="'C'+name">{{name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="icon" #MyRef [id]="'B'" (click)="comprarMesa('B')"
                                    [pTooltip]="'Mesa: B'+'\n Precio: 5750 USD'">
                                    B
                                    <ul class="menu">
                                        <li class="spread" *ngFor="let name of mesas">
                                            <a class="unit" #MyRef [id]="'B'+name">{{name}}</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="icon" #MyRef [id]="'A'" (click)="comprarMesa('A')"
                                    [pTooltip]="'Mesa: A'+'\n Precio: 5750 USD'">
                                    A
                                    <ul class="menu">
                                        <li class="spread" *ngFor="let name of mesas">
                                            <a class="unit" #MyRef [id]="'A'+name">{{name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div>

                            </div>
                            <br>
                            <p style="font-size: 2em; font-weight: bold;">{{txt2}}</p>
                        </div>
                        <br>
                        <div>
                            <p-card>
                                <h2>Escenario</h2>
                            </p-card>
                            <img alt="Card" src="assets/img/LogoReed.jpg" [style]="{width: '1090px'}">
                        </div>
                    </div>
                </div>
                <br>
                <div *ngIf="StatusCargaLugares==true">

                    <div class="container-fluid">
                        <button class="btn btn-primary" (click)="realizarCompra()">Siguiente</button>

                    </div>

                </div>


                <br>
                <br>
            </div>
        </div>
    </div>



</p-card>

<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" [style]="{'width':'50vw'}">
    <app-pago *ngIf="visibleSidebar2" [boletosSeleccionados]="boletosSeleccionados" (fetchNominaciones)="unseled()">
    </app-pago>
</p-sidebar>

<p-dialog header="Error" [(visible)]="displayBasic" [style]="{width: '20vw'}" [baseZIndex]="1000">
    <p> Debes Seleccionar un lugar</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="Aceptar  "></p-button>
    </ng-template>
</p-dialog>

