/* Styles: */


.card {
    background-color: rgb(217, 222, 224);
  }
  .ui-card-title {
    text-align: center;
}
.escenario{
  background-color: black;
}
.grid{
    display: grid;
    
    grid-template-columns: 33% 33% 33%;


}
.grid4{
    display: grid;
    
    grid-template-columns: 25% 25% 25% 25% ;


}
.grid5{
  display: grid;
  
  grid-template-columns: 20% 20% 20% 20% 20% ;


}
.grid2{
    display: grid;
    grid-template-columns: 40% 10% 40%;
}

.zonaGeneral{
    border: 8px solid rgb(34, 167, 160);
}
.zonaVIP{
    border: 8px solid rgb(255, 236, 0);
}
.icon {
    position: relative;
    background: rgb(207, 201, 201);
    cursor: pointer;
    margin: auto;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 2.75em;
    font-weight: bold;
    
  }

  .iconVIP{
    position: relative;
    background: rgb(6, 29, 241);
    cursor: pointer;
    margin: auto;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 2.75em;
    font-weight: bold;
    transition: 1.0s 0.s;
  }
  /* .iconVIP:hover{
    background:  rgb(211, 202, 26);
    
  } */
  
  
  
  .menu {
    position: absolute;
    top: -50px;
    left: -50px;
    border: 100px solid transparent;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    z-index: -5;
  }
  
  .spread {
    position: absolute;
    top: -100px;
    left: -100px;
    transform-origin: 100px 100px;
    cursor: pointer;
   
  }
  
  
  
  .spreadVIP {
    position: absolute;
    top: -100px;
    left: -100px;
    transform-origin: 100px 100px;
    
    
  }

 
  .icon::content .menu {
    transition: transform 0.4s 0.08s, z-index 0s 0.5s;
    transform: scale(.7);
    z-index: 5;
  }
 
  
  .icon::content .spread:nth-child(1) {
    
    transform: rotate(80deg);
  }
  .icon::content .spread:nth-child(1) .unit {
    
    transform: rotate(635deg);
  }
  .icon::content .spread:nth-child(2) {
    
    transform: rotate(116deg);
  }
  .icon::content .spread:nth-child(2) .unit {
    
    transform: rotate(595deg);
  }
  .icon::content .spread:nth-child(3) {
  
    transform: rotate(152deg);
  }
  .icon::content .spread:nth-child(3) .unit {
    
    transform: rotate(555deg);
  }
  .icon::content .spread:nth-child(4) {

    transform: rotate(188deg);
  }
  .icon::content .spread:nth-child(4) .unit {
   
    transform: rotate(520deg);
  }
  .icon::content .spread:nth-child(5) {
    
    transform: rotate(224deg);
  }
  .icon::content .spread:nth-child(5) .unit {
    
    transform: rotate(495deg);
  }
  .icon::content .spread:nth-child(6) {
    
    transform: rotate(260deg);
  }
  .icon::content .spread:nth-child(6) .unit {
    
    transform: rotate(455deg);
  }
  .icon::content .spread:nth-child(7) {
   
    transform: rotate(296deg);
  }
  .icon::content .spread:nth-child(7) .unit {
    
    transform: rotate(410deg);
  }
  .icon::content .spread:nth-child(8) {
    
    transform: rotate(332deg);
  }
  .icon::content .spread:nth-child(8) .unit {
    
    transform: rotate(390deg);
  }
  .icon::content .spread:nth-child(9) {
   
    transform: rotate(368deg);
  }
  .icon::content .spread:nth-child(9) .unit {
   
    transform: rotate(340deg);
  }
  .icon::content .spread:nth-child(10) {
    
    transform: rotate(404deg);
  }
  .icon::content .spread:nth-child(10) .unit {
   
    transform: rotate(320deg);
  }
  
  /* END .icon:hover */
  .unit {
    position: absolute;
    background: rgb(0, 0, 0);
    font-size: 60%;
    text-decoration: none;
    width: 50px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.6s;
  }
  .unit:hover {
    position: absolute;
    background: rgb(211, 202, 26);
    font-size: 60%;
    text-decoration: none;
    width: 50px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.6s;
  }

  .unitVIP {
    position: absolute;
    background:rgb(0, 16, 233);
    font-size: 60%;
    text-decoration: none;
    width: 50px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.6s;
  }
  
  .unitVIP:hover {
    position: absolute;
    background: rgb(211, 202, 26);
    font-size: 60%;
    text-decoration: none;
    width: 50px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.6s;
  }
  /* Just CodePen layout stuff: */
  body,
  a,
  ul,
  li {
    margin: 0;
    outline: 0;
    padding: 0;
    list-style: none;
  }  
  html,
  body {
    height: 100%;
    min-height: 300px;
  }
  body {
    font-family: sans-serif;
    background: radial-gradient(#00bfff, #1e90ff);
    transform: translate3d(0, 0, 0);
  }
  .icon {
    top: 50%;
    margin-top: -75px;
  }
  .iconVIP {
    top: 50%;
    margin-top: -75px;
  }
  .iconVIP::content .menu {
    transition: transform 0.4s 0.08s, z-index 0s 0.5s;
    transform: scale(.7);
    z-index: 5;
  }
  .iconVIP::content .spread:nth-child(1) {
    transform: rotate(80deg);
  }
  .iconVIP::content .spread:nth-child(1) .unitVIP {
    transform: rotate(635deg);
  }
  .iconVIP::content .spread:nth-child(2) {
    transform: rotate(116deg);
  }
  .iconVIP::content .spread:nth-child(2) .unitVIP {
    transform: rotate(595deg);
  }
  .iconVIP::content .spread:nth-child(3) {
    transform: rotate(152deg);
  }
  .iconVIP::content .spread:nth-child(3) .unitVIP {
    transform: rotate(555deg);
  }
  .iconVIP::content .spread:nth-child(4) {
    transform: rotate(188deg);
  }
  .iconVIP::content .spread:nth-child(4) .unitVIP {
    transform: rotate(520deg);
  }
  .iconVIP::content .spread:nth-child(5) {
    transform: rotate(224deg);
  }
  .iconVIP::content .spread:nth-child(5) .unitVIP {
    transform: rotate(495deg);
  }
  .iconVIP::content .spread:nth-child(6) {
    transform: rotate(260deg);
  }
  .iconVIP::content .spread:nth-child(6) .unitVIP {
    transform: rotate(455deg);
  }
  .iconVIP::content .spread:nth-child(7) {
    transform: rotate(296deg);
  }
  .iconVIP::content .spread:nth-child(7) .unitVIP {
    transform: rotate(410deg);
  }
  .iconVIP::content .spread:nth-child(8) {
    transform: rotate(332deg);
  }
  .iconVIP::content .spread:nth-child(8) .unitVIP {
    transform: rotate(390deg);
  }
  .iconVIP::content .spread:nth-child(9) {
    transform: rotate(368deg);
  }
  .iconVIP::content .spread:nth-child(9) .unitVIP {
    transform: rotate(340deg);
  }
  .iconVIP::content .spread:nth-child(10) {
    transform: rotate(404deg);
  }
  .iconVIP::content .spread:nth-child(10) .unitVIP {
    transform: rotate(320deg);
  }